*{
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
}

.navbar-nav a:hover { 
  color: #fff !important; 
}

.bg-image { 
  background-color: #515151 !important;
  position: relative;
  left: 0;
  top: 0;
  height: auto;
}

/*.bg-image3 {
  background-image: url(./images/Contact Section.png);
  background-size: 100%;
} */
h1 {
  font-weight: bold;
  text-shadow: 1;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

ul { 
  list-style: none;

}

.card-link{
  color: white;
}

.card-link a:hover { 
  color: #FFFF00 !important; 

}

.contact{
  align-items: right;
}

.btn {
  align-items: center;
}

/*.footer {
    background-color: #1f1f1f;
    color: white;
    margin: 2px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}*/