*{
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
}

.navbar-nav a:hover { 
  color: #fff !important; 
}

.bg-image { 
  background-color: #515151 !important;
  position: relative;
  left: 0;
  top: 0;
  height: auto;
}



/*.bg-image3 {
  background-image: url(./images/Contact Section.png);
  background-size: 100%;
} */
.header {
  font-weight: bold;
  text-shadow: 3;
  font-family: 'Reem Kufi Fun', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.card-title{
  font-weight: bold;
  text-shadow: 3;
  font-family: 'Reem Kufi Fun', sans-serif;
}

.card-link{
  color: white;
}

.card-link a:hover { 
  color: #FFFF00 !important; 

}

.contact{
  align-items: right;
}

.btn {
  align-items: center;
}

/*Sticky Icon*/
.sticky-icon {
  z-index: 1;
  position: fixed;
  top: 38%;
  right: 0%;
  width: 220px;
  display: flex;
  flex-direction: column;
}
.sticky-icon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.8s;
}
.sticky-icon a:hover {
  color: #fff;
  transform: translate(0px, 0px);
}
.sticky-icon a:hover i {
  transform: rotate(360deg);
}
.sticky-icon a i {
  height: 40px;
  width: 40px;
  color: #000000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}
.sticky-icon a i.fa-facebook-f {
  color: #0000000;
}
.sticky-icon a i.fa-instagram {
  color: #0000000;
}
.sticky-icon a i.fa-linkedin {
  color: #0000000;
}
.sticky-icon a i.fa-gitlab {
  color: #000000c;
}
#myBtn {
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align: center;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up {
  font-size: 30px;
}
#myBtn:hover {
  background-color: #555;
}


/*.footer {
    background-color: #1f1f1f;
    color: white;
    margin: 2px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}*/